/*Button*/
.jbtn{
    background-color: #ffffff;
    border: none;
    color:#ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*Button color*/
.jbtn-green{
    background-color: #4CAF50;
}
.jbtn-blue{
    background-color: #008CBA;
}
.jbtn-red{
    background-color: #f44336;
}
.jbtn-gray{
    background-color: #e7e7e7;
    color: #000000;
}
.jbtn-black{
    background-color: #555555;
}

/*Button size*/
.jbtn-sm{
    font-size: 10px; 
    padding: 10px 24px;
}
.jbtn-md{
    font-size: 12px; 
    padding: 12px 28px;
}
.jbtn-lg{
    font-size: 16px; 
    padding: 14px 40px;
}
.jbtn-xl{
    font-size: 20px; 
    padding: 32px 16px;
}

/*Button style*/
.jbtn-retangle{
    border-radius: 0px;
}
.jbtn-rounded{
    border-radius: 8px
}
.jbtn-oval{
    border-radius: 50%;
}

/*Button hover*/
.jbtn:hover{
    background-color: #000000;
    color: #ffffff;
}