/*Background color*/
.jbg-color-white{
    background-color: #F2F2F2;
}
.jbg-color-cyan1{
    background-color: #1FA6A6;
}
.jbg-color-cyan2{
    background-color: #2198A6;
}
.jbg-color-cyan3{
    background-color: #0E6073;
}
.jbg-color-cyan4{
    background-color: #105773;
}

/*Position*/
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.top{
    text-align: top;
}
.bottom{
    text-align: bottom;
}
.margin-auto-5px{
    margin: 5px;
}
.margin-auto-10px{
    margin: 10px;
}
.margin-auto-15px{
    margin: 15px;
}
.margin-auto-20px{
    margin:20px;
}
.row div{
    margin: 5px;
}